<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body class="container">
        <%- include('header') %>
        <h2>Cambio de contraseña</h2>
        <form action="/password/reset/<%=id%>/token" method="post">
            <p>Ingrese correo</p>
            <input type="text" id="clave" name="clave"/>
            <button class="btn btn-success" type="submit">Cambiar</button>
        </form>
        <a href="/">Regresar a la pagina principal</a>
    </body>
</html>