<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/usuarios.css" type="text/css"/>
    <link href="/styles/catalogo.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    <script src="/js/bootstrap.bundle.js"></script>
</head>

<body class="container">
    <%- include('header') %>
    <div id="box">
        <h2>Crear usuario</h2>
        <form action="/usuario/crear" method="post">
            <div>
                <label class="form-label">Nombre</label>
                <input id="input_nombre" name="nombre" type="text" class="form-control" />
            </div>
            <div>
                <label class="form-label">Correo</label>
                <input id="input_correo" name="correo" type="email" class="form-control" />
            </div>
            <div>
                <label class="form-label">Contraseña</label>
                <input id="input_clave" name="clave" type="text" class="form-control" />
            </div>
            <div>
                <input type="radio" id="Administrador" name="tipo" value="Administrador">
                <label for="admin">Administrador</label><br>
                <input type="radio" id="Organizador" name="tipo" value="Organizador">
                <label for="orga">Organizador</label><br>
                <input type="radio" id="Lider" name="tipo" value="Lider">
                <label for="partic">Lider</label>
            </div>
            <div id="equipo">
                <label class="form-label">Nombre del equipo</label>
                <input id="input_equipo" name="equipo" type="text" class="form-control" />
            </div>
            <div class="mt-2">
                <a href="/usuarios/1" class="btn btn-success" type="button">
                    Cancelar
                </a>
                <button id="enviar" class="btn btn-success" type="submit">
                    Crear
                </button>
            </div>
        </form>
    </div>
</body>
<script src="\js\crearUsuario.js"></script>
</html>