<!DOCTYPE html>
<html>
    <head>
        <title>Registro Proyecto</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/crearProyecto.css" type="text/css">
        <script src="/js/crearProyecto.js"></script>
    </head>
    <body class="container">
        <% if(registrado==true) { %>
            <%- include('header-user.ejs') %>
        <% } else {%>
            <%- include('header.ejs') %>
        <% }%>

        <div id="head" class="mt-5">
            <h2>Cuentanos tu idea :)</h2>
            <p>Esta seccion esta dise침ada para que puedas detallar tu proyecto</p>
        </div>

        <form action="/crearProyecto" method="POST" enctype="multipart/form-data">
            <div id="cuerpo" class="grid-container">
                
                <div id="formCol1">
                    <div class="form-group">
                        <label for="nomProy" class="form-label">Nombre de tu idea</label>
                        <input name="nombre" type="text" class="form-control" id="nomProy" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="URLProy" class="form-label">Project URL</label>
                        <input name="url" type="text" class="form-control" id="URLProy" placeholder="http://tu-url.com/">
                    </div>
                    <div class="form-group">
                        <label for="categoriaProy" class="form-label">Categoria</label>
                        <select name="categorias" class="form-control" id="categoriaProy">
                            <option value="videojuegos">Videojuegos</option>
                            <option value="pelicula">Peliculas</option>
                            <option value="animaciones">Animaciones</option>
                            <option value="comics">Comics</option>
                            <option value="articulos_artisticos">Articulos Artisticos</option>
                            <option value="dise침os">Dise침os</option>
                            <option value="pagina_web">Paginas Web</option>
                            <option value="app_movil">App Movil</option>
                            <option value="hardware">Hardware</option>
                            <option value="software">Software</option>
                            <option value="musica">Musica</option>
                            <option value="comida">Comida</option>
                            <option value="juegos_de_mesa">Juegos de Mesa</option>
                            <option value="deporte">Deporte</option>
                            <option value="hogar">Hogar</option>
                            <option value="oficina">Oficina</option>
                        </select>
                    </div>
                    <div class="form-check mt-5">
                        <input name="terminos" type="checkbox" class="form-check-input" id="terminos">
                        <label class="form-check-label" for="terminos">Acepto los terminos y condiciones</label>
                    </div>
                </div>
                <div id="formCol2">
                    <label for="descProy" class="form-label">Describenos tu idea</label>
                    <textarea name="descripcion" class="form-control" id="descProy" rows="3" placeholder="Descripci칩n ..."></textarea>
                </div>
                
                <div id="multimedia">
                    <div id="wrapper">
                        <img id="output_image"/>
                        <input name="imagen_subida" class="form-control" type="file" accept="image/*" onchange="preview_image(event)">
                    </div>
                    <div class="form-group">
                        <label for="videoProy" class="form-label">Link de trailer o video promocional de tu proyecto</label>
                        <input name="link_externo" type="text" class="form-control" id="videoProy" placeholder="http://tu-video.com/">
                    </div>
                </div>
                <button id="but_grabar" class="btn btn-success" type="submit">
                    Grabar
                </button>
            </div>

        </form>
    
    </body>
</html>