<!DOCTYPE html>
<html>

<head>
    <link href="/styles/errorFormulario.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href=" https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/volverPagina.js"></script>
</head>

<body id="error" class="container">
    <%- include('header') %>

        <div class="card grid-container">
            <h6 class="card-title">ERROR!</h6>
            <div class="card-text">Parece que hubo un error en el ingreso de los datos</div>
            <div class="card-text">Por favor revise la informacion por errores y vuelva a intentar.</div>
            <button id="volver-btn" class="mt-3">VOLVER</button>
        </div>
</body>

</html>