<!DOCTYPE html>
<html>

<head>
    <link href="/styles/header.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="header">
        <header class="p-2 text-white HeaderPrincipal">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <a class="logo" href="/"><label class="logo">INNOVA RUWAYKAMA</label></a>
                <ul>
                    <li><a class="active" href="/registro">Registrarse</a></li>
                    <li><a href="/login">Iniciar sesion</a></li>
                </ul>
                <ul class="ull">
                    <div class = "notification">
                        <a id="nots" href = "#">
                        <div class = "notBtn" href = "#">
                          <div class = "number">2</div>
                          <i class="fas fa-bell"></i>
                            <div class = "box">
                              <div class = "display">
                                <div class = "nothing"> 
                                  <div class = "cent">No hay ninguna notificación</div>
                                </div>
                                <div class = "cont">
                                <div class = "sec new">
                                    <a href = "">
                                    <div class = "profCont"></div>
                                    <div class = "txt">Bienvenido a la plataforma </div>
                                    <div class = "txt sub">11/7 - 2:30 pm</div>
                                    </a>
                                </div>
                                <div class = "sec new">
                                    <a href = "">
                                    <div class = "profCont"></div>
                                    <div class = "txt">Segunda notificación!"</div>
                                    <div class = "txt sub">11/7 - 2:13 pm</div>
                                    </a>
                                </div>
                                <div class = "sec new">
                                    <a href = "">
                                    <div class = "profCont"></div>
                                    <div class = "txt">Tercera notificación!"</div>
                                    <div class = "txt sub">11/7 - 2:13 pm</div>
                                    </a>
                                </div>
                                <div class = "sec new">
                                    <a href = "">
                                    <div class = "profCont"></div>
                                    <div class = "txt">Cuarta notificación!"</div>
                                    <div class = "txt sub">11/7 - 2:13 pm</div>
                                    </a>
                                </div>
                                <div class = "sec new">
                                    <a href = "">
                                    <div class = "profCont"></div>
                                    <div class = "txt">Quinta notificación!"</div>
                                    <div class = "txt sub">11/7 - 2:13 pm</div>
                                    </a>
                                </div>
                                <div class = "sec new">
                                    <a href = "">
                                    <div class = "profCont"></div>
                                    <div class = "txt">Sexta notificación!"</div>
                                    <div class = "txt sub">11/7 - 2:13 pm</div>
                                    </a>
                                </div>
                               </div>
                              </div>
                           </div>
                        </div>
                        </a>
                    </div>
                </ul>
                <ul class="ul-p">
                    <li><a class="active" href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Help</a></li>
                   
                </ul>
            </nav>
        </header>
    </div>
</body>

</html>