<!DOCTYPE html>
<html>

<head>
    <link href="/styles/header.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="header">
        <div>
        <header class="p-2 text-white">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <label class="logo">INNOVA RUWAYKAMA</label>
                <ul>
                    <li><a class="active" href="#">Registrarse</a></li>
                    <li><a href="#">Iniciar sesion</a></li>
                </ul>
                <ul class="ul-p">
                    <li><a class="active" href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Help</a></li>
                    <a href="#" class="notification">
                        <span>Inbox</span>
                        <span class="badge">1</span>
                    </a>
                </ul>
                
            </nav>
        </header>
        </div>
    </div>
</body>
<script src="/js/header.js"></script>
</html>