<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="/styles/inicio.css">
    <script src="https://kit.fontawesome.com/a6406a81fb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    
    <title>Inicio</title>
</head>
<body>
    <%- include('header.ejs') %>
    
   <div class="container contenido">
       <div class="row">
           <div class="col-6 mt-5">
                <img src="/images/inicio.jpg">
           </div >
           <div  class="col-5 mt-5" id="bloqueT">
                <div class="row" id="t1">Acerca de nosotros</div>
                <div class="row" id="t2">FINANCIAMOS TU IDEA!</div>
                <div class="row mt-3" id="t3"> Porque sabemos que tienes los mejores proyectos, Innova Ruwaykama es un portal que hace posible llevar a la realidad tu idea, emprendimiento o negocio. Somos intermediarios entre aquellos que necesiten financiar sus ideas y aquellos que estan dispuestos a invertir dinero en estas.</div>
           </div>
       </div>
       
    </div>
   
</body>
</html>