<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">

    <script src="https://kit.fontawesome.com/a6406a81fb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/inversion.css">
    <title>Inicio</title>
</head>
<body>
    <% if(registrado==true) { %>
        <%- include('header-user.ejs') %>
    <% } else {%>
        <%- include('header.ejs') %>
    <% }%>
    
    <div class="container contenido">
       <a> Listo  :)</a>
        <div class="row " id="h_proyecto">
            <h1>Proyecto 1</h1>
            <h2>Ahora eres un inversor del Proyecto 1</h2>
        </div>
        <div class="row" id="proyecto">
          <h1 id="h1_proyecto">El comprobande de pago ha sido enviado a tu correo electronico</h1>
        </div>  
        <div  class="row">
            <div class="col" >    
            <img src="/images/inicio.jpg" id=imagen_inversion1 >
            <p><label id="nombre_proyecto">Proyecto 1</label></p>
            </div>
            <div class="col" id="proyecto">
                <div class="form-group">
                    <img src="/images/inicio.jpg" id=imagen_inversion1 >
                    <p><label id="label_nombre">Jaime</label></p>
                    <p><label id="label_titulo">Creador del proyecto</label></p>
                </div>              
                
            </div>
        </div>
        <div>
            <a href="/listaProyectos" type="button" id="boton_iniciarinversion" class="btn btn-success mb-3">Mas detalles</a>
         
        </div>
       
     
        
     </div>
</body>