<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" href="styles/login.css">
    <link rel="stylesheet" href="/styles/inicio.css">
    <script src="https://kit.fontawesome.com/a6406a81fb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <title>Iniciar Sesion</title>
</head>

<body>
    <%- include('header.ejs') %>
    <div id=div_sign>
        <p>
            <label id="iniciarsesion">Iniciar Sesión</label>
        </p>
        <form action="/login" method="POST">
            <p>
                <label id="lemail">Email</label>
            <p>
                <input class="form-control" type="email" placeholder="nombre@dominio.com" id="input_email" name="email">
            </p>
            </p>

            <p>
                <label id="lcontrasena">Contraseña:</label>
            <p>
                <input class="form-control" type="password" placeholder="••••••••••" id="input_contrasena" name="contrasena">
            </p>
            </p>
            <p>
                <a id="contraseñaOlvidada" href="#">¿Has olvidado tu contraseña?</a>
            </p>
            <p id="btnIngresar">
                <button id="boton" class="btn btn-success" type="submit">Ingresar</button>
            </p>
        </form>
    </div>

</body>