<html>

<head>
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" type="text/css" href="css/signin.css">
</head>

<body>
    <div id="div_header">
        <div id="jo">
            d
        </div>
        <label id="INNOVARUWAYKAMA">INNOVA RUWAYKAMA</label>
        <a1 id="nosotros"> Nosotros</a1>
        <a2 id="contactos">Contactos</a2>
        <a3 id="help">Help</a3>
        <img src="fotoperfil.PNG" id="fotoperfil">
        <label id="nombre">Jaime</label>
    </div>
    <div id=div_sign>
        <p>
            <label id="iniciarsesion">Iniciar Sesión</label>
        </p>
        <form action="/login" method="POST">
            <p>
                <label id="email">Email</label>
            <p>
                <input type="email" placeholder="nombre@dominio.com" id="input_email" name="email">
            </p>
            </p>

            <p>
                <label id="contrasena">Contraseña:</label>
            <p>
                <input type="password" placeholder="••••••••••" id="input_contrasena" name="contrasena">
            </p>
            </p>
            <p>
                <a id="contraseñaOlvidada" href="#">¿Has olvidado tu contraseña?</a>
            </p>
            <p id="btnIngresar">
                <button class="btn btn-success" type="submit">Ingresar</button>
            </p>
        </form>
    </div>

</body>


</html>