<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" href="styles/login.css">
    <link rel="stylesheet" href="/styles/inicio.css">
    <script src="https://kit.fontawesome.com/a6406a81fb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <title>Iniciar Sesion</title>
</head>

<body>
    <%- include('header.ejs') %>
    <div id=div_sign>
        <div>
            <label id="iniciarsesion">Iniciar Sesión</label>
        </div>
        <form action="/login" method="POST">
            <div class="mt-4">
                <label id="lemail">Email</label>
                <div>
                <input class="form-control" type="email" placeholder="nombre@dominio.com" id="input_email" name="email">
                </div>
            </div>

            <div>
                <label id="lcontrasena">Contraseña:</label>
            <div>
                <input class="form-control" type="password" placeholder="••••••••••" id="input_contrasena" name="contrasena">
            </div>
            </div>
            <div>
                <a id="contraseñaOlvidada" href="/correoRec" >Cambiar contraseña</a>
            </div>
            <div id="btnIngresar">
                <button class="form-control mt-4" id="boton" class="btn btn-success" type="submit" c>Ingresar</button>
            </div>
        </form>
    </div>
</body>