<html>

<head>
    <meta charset="utf-8">
    <link href="styles/login.css" rel="stylesheet" type="text/css" />
    <link href="styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="js/bootstrap.bundle.js"></script>
</head>

<body class="container mt-5">
    <div class="grid-container">
        <form action="/login" method="post" class="border p-3 form">
            <h1>Login</h1>
            <!-- Solo necesita el correo y la clave para el login -->
            <div class="mt-4">
                <label class="form-label">Ingrese su correo:</label>
                <input class="form-control" type="text" name="correo" />
            </div>
            <div class="mt-3">
                <label class="form-label">Ingrese su contrase単a:</label>
                <input class="form-control" type="text" name="clave" />
            </div>
            <div id="btnIngresar">
                <button class="btn btn-success" type="submit">Ingresar</button>
            </div>
            <a id="contrase単aOlvidada" href="/password-email">多Has olvidado tu contrase単a?</a>
        </form>
    </div>
</body>

</html>