<!--Aqui iria el header con el include!-->

<link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
<div class="container-sm">
    <h1>
        Bienvenido '[Nombre]'
    </h1>
    <h2>
        Mensajes
    </h2>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="text" class="form-control" placeholder="Mensaje">
      </div>
</div>
