<!--Aqui iria el header con el include!-->

<link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/styles/mensajeria.css">
<script src="https://kit.fontawesome.com/a6406a81fb.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
<div class="container-xl mt-2">
    <h1>
        Bienvenido '[Nombre]'
    </h1>
    <label class="lead mb-2">Aqui puedes visualizar tus mensajes</label>
    <h2>
        Mensajes
    </h2>
    <h2 class="mt-3 lead mb-3">
        Contactos
    </h2>
    <p>*Contatos*</p>
    <div class="mb-3">
        <div class="mensajeria container-lg">
            <label for="exampleFormControlInput1" class="form-label">*Nombre del contacto*</label>
            <div class="position-relative contaienr-lg">
                <div class="fixed_bot w-100">
                    <div class="row">
                        <div class="col-11">
                            <input type="text" class="form-control" placeholder="Mensaje">
                        </div>
                        <div class="col-1">
                            <button class="btn btn-dark"><img src="/images/send.png" alt="send"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
