<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/catalogo.css" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
    </head>

    <body class="container">
        <%- include('header') %>
        <div></div>
        <div class="divt row">
           <div>No tienes permiso para realizar esto</div>
        </div>
    </body>
</html>