<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/card.css" rel="stylesheet" type="text/css"/>
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
    </head>

    <body class="container">
        <%- include('header.ejs') %>
        <section class="card-list">
            <article class="card">
              <header class="card-header">
                <p>Scrum Master</p>
                <h2>Sebastian Lezama</h2>
              </header>
      
              <div class="card-author">
                <a class="author-avatar" href="#">
                    <img src="../images/Developer.png" />
                </a>
              
      
                <div class="author-name">
                  <div class="author-name-prefix"></div>
                </div>
              </div>
              <div class="tags">
                <a href="#">html</a>
                <a href="#">css</a>
                <a href="#">web-dev</a>
              </div>
            </article>
      
      
      
            <article class="card">
              <header class="card-header">
                <p>Product owner</p>
                <h2>Jaime Van Helmejrick</h2>
              </header>
      
              <div class="card-author">
                <a class="author-avatar" href="#">
                    <img src="../images/Developer.png" />
                </a>
                
      
                <div class="author-name">
                  <div class="author-name-prefix"></div>
                </div>
              </div>
              <div class="tags">
                <a href="#">html</a>
                <a href="#">css</a>
              </div>
            </article>
    

            <article class="card">
              <header class="card-header">
                <p>Developer</p>
                <h2>Diego Arce</h2>
              </header>
      
              <div class="card-author">
                <a class="author-avatar" href="#">
                    <img src="../images/Developer.png" />
                </a>
      
                <div class="author-name">
                  <div class="author-name-prefix"></div>
                </div>
              </div>
              <div class="tags">
                <a href="#">html</a>
                <a href="#">css</a>
              </div>
            </article>
      
            <article class="card">
              <header class="card-header">
                <p>Developer</p>
                <h2>Josue Leite</h2>
              </header>
      
              <div class="card-author">
                <a class="author-avatar" href="#">
                    <img src="../images/Developer.png" />
                </a>
      
                <div class="author-name">
                  <div class="author-name-prefix"></div>
                </div>
              </div>
              <div class="tags">
                <a href="#">html</a>
                <a href="#">css</a>
              </div>
            </article>
      
            <article class="card">
              <header class="card-header">
                <p>Developer</p>
                <h2>Gian Piero Diaz</h2>
              </header>
              <div class="card-author">
                <a class="author-avatar" href="#">
                    <img src="../images/Developer.png" />
                </a>
      
                <div class="author-name">
                  <div class="author-name-prefix"></div>
                </div>
              </div>
              <div class="tags">
                <a href="#">html</a>
                <a href="#">css</a>
              </div>
            </article>     
              <article class="card">
                <header class="card-header">
                  <p>Developer</p>
                  <h2>Gonzalo Lopez Aliaga</h2>
                </header>
                <div class="card-author">
                  <a class="author-avatar" href="#">
                    <img src="../images/Developer.png" />
                  </a>
        
                  <div class="author-name">
                    <div class="author-name-prefix"></div>
                  </div>
                </div>
                <div class="tags">
                  <a href="#">html</a>
                  <a href="#">css</a>
                </div>
              </article>
       </section>
    </body>
</html>