<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/card.css" rel="stylesheet" type="text/css"/>
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
    </head>

    <body class="">
        <%- include('header') %>
        <section class="card1-list">
            <article class="card1">
              <header class="card1-header">
                <p>21 años</p>
                <h2>Sebastian Lezama</h2>
              </header>
      
              <div class="card1-author">
                <a class="author-avatar" href="#">
                  <img src="../media/foto2.jpg" />
                </a>
              
      
                <div class="author-name">
                  <div class="author-name-prefix"></div>
                </div>
              </div>
            
            </article>
      
      
      
            <article class="card1">
              <header class="card1-header">
                <p>20 años</p>
                <h2>Jaime Van Helmejrick</h2>
              </header>
      
              <div class="card1-author">
                <a class="author-avatar" href="#">
                  <img src="../media/foto3.jpg" />
                </a>
                
      
                <div class="author-name">
                  <div class="author-name-prefix"></div>
                </div>
              </div>
              
            </article>
      
      
      
      
            <article class="card1">
              <header class="card1-header">
                <p>20 años</p>
                <h2>Daniela Chan</h2>
              </header>
      
              <div class="card1-author">
                <a class="author-avatar" href="#">
                  <img src="../media/foto1.jpg" />
                </a>
      
                <div class="author-name">
                  <div class="author-name-prefix"></div>
                </div>
              </div>
              
            </article>
      
            <article class="card1">
              <header class="card1-header">
                <p>20 años</p>
                <h2>Josue Leite</h2>
              </header>
      
              <div class="card1-author">
                <a class="author-avatar" href="#">
                  <img src="../media/foto4.jpg" />
                </a>
      
                <div class="author-name">
                  <div class="author-name-prefix"></div>
                </div>
              </div>
              
            </article>
      
            <article class="card1">
              <header class="card1-header">
                <p>20 años</p>
                <h2>Leonardo Abanto</h2>
              </header>
              <div class="card1-author">
                <a class="author-avatar" href="#">
                  <img src="../media/foto8.png" />
                </a>
      
                <div class="author-name">
                  <div class="author-name-prefix"></div>
                </div>
              </div>
              
            </article>     
              <article class="card1">
                <header class="card1-header">
                  <p>20 años</p>
                  <h2>Gonzalo Lopez Aliaga</h2>
                </header>
                <div class="card1-author">
                  <a class="author-avatar" href="#">
                    <img src="../media/foto5.jpg" />
                  </a>
        
                  <div class="author-name">
                    <div class="author-name-prefix"></div>
                  </div>
                </div>
                
              </article>
       </section>
    </body>
</html>