<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/registro.css">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="/styles/inicio.css">
    <script src="https://kit.fontawesome.com/a6406a81fb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <script src="/js/validacion.js"></script>
    <title>Registrarse Usuario</title>
</head>

<body>
    <%- include('header.ejs') %>
    <div id=div_registrar>
        <form action="/registro" method="POST">
        <div class="container">
            <p>
                <label id="registrate">Registrate</label>
            </p>
            <p>
                <label id="subtitulo">Llena los datos para poder registrarte
                </label>
            </p>
            <p>
                <label id="nlombre">Nombre Completo</label>
            <p>
                <input class="form-control" type="text" name="nombre" placeholder="Nombre" id="nombre">
            </p>
            </p>
            <p>
                <label id="lemail">Email</label>
            <p>
                <input class="form-control"   type="email" name="email" placeholder="nombre@dominio.com" id="email">
            </p>
            </p>
            <p>
                <label id="lconfirmar_email">Confirmar email</label>
            <p>
                <input  class="form-control"  type="email" name="emailConf" placeholder="nombre@dominio.com" id="input_confirmar_email">
            </p>
            </p>
            <p>
                <label id="lcontrasena">Contraseña:</label>
            <p>
                <input class="form-control"  type="password" name="contrasena" placeholder="••••••••••" id="contrasena">
            </p>
            </p>
            <p>
                <label id="mensaje"></label>
                <input  type="checkbox" id="condiciones" name="condiciones" value="condiciones" class="a">
                <label id="condiciones"> Acepto los terminos y condiciones</label>
            </p>
            <p>
                <button class="form-control" id="boton_registrarse" type="submit" value="Registrarse">Registrarse</button>
            </p>
        </div>
        </form>
    </div>

</body>