<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/registro.css">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="/styles/inicio.css">
    <script src="https://kit.fontawesome.com/a6406a81fb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <script src="/js/validacion.js"></script>
    <title>Registrarse Usuario</title>
</head>

<body>
    <%- include('header.ejs') %>
    <div id=div_registrar>
        <form action="/registro" method="POST">
        <div class="container">
            <div class="mb-3">
                <label id="registrate" class="dv2" >Registrate</label>
            </div>

            <div class="mb-3">
                <label id="subtitulo" class="dv1">Llena los datos para poder registrarte
                </label>
            </div>

            <div class="mb-3" >
                <label id="lnombre" class="dv1">Nombre Completo</label>
            <div class="mb-3">
                <input class="form-control" type="text" name="nombre" placeholder="Nombre" id="nombre">
            </div>
            </div>
            <div class="mb-3">
                <label id="lemail" class="dv1">Email</label>
            <div class="mb-3">
                <input class="form-control"   type="email" name="email" placeholder="nombre@dominio.com" id="email">
            </div>
            </div>
            <div class="mb-3">
                <label id="lconfirmar_email" class="dv1">Confirmar email</label>
            <div class="mb-3">
                <input  class="form-control"  type="email" name="emailConf" placeholder="nombre@dominio.com" id="input_confirmar_email">
            </div>
            </div>
            <div class="mb-3">
                <label id="lcontrasena" class="dv1">Contraseña:</label>
            <div class="mb-3">
                <input class="form-control"  type="password" name="contrasena" placeholder="••••••••••" id="contrasena">
            </div>
            </div>
           
                <div id="mensaje" class="dv1"></div>
                <input  type="checkbox" id="condiciones" name="condiciones" value="condiciones" class="dv1">
                <label id="condiciones" > Acepto los terminos y condiciones</label>
            
            
                <button class="form-control mt-4" id="boton_registrarse" type="submit" value="Registrarse">Registrarse</button>
            
        </div>
        </form>
    </div>

</body>