<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/registro.css" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
    </head>

    <body id="registro" class="container">
        <%- include('header') %>
        <h2>REGISTRO</h2>
        <form action="/registro" method="post">
            <div class="grid-container">
                <div>
                    <label for="fname">Nombre de usuario:</label>
                    <input type="text" id="fnombre" name="nombre"><br><br>
                    <label for="lname">Correo:</label>
                    <input type="text" id="lmail" name="email"><br><br>
                    <label for="lname">Contraseña:</label>
                    <input type="password" id="lclave" name="clave"><br><br>
                    <label for="lname">Confirmar contraseña:</label>
                    <input type="password" id="lname" name="lname"><br><br>
                    <label for="lname">Capcha:</label>
                    <input type="text" id="lcaptcha" name="lcaptcha"><br><br>
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </body>
</html>