<!DOCTYPE html>
<html>

<head>
    <link href="/styles/registro.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    <script src="/js/bootstrap.bundle.js"></script>
</head>

<body class="container" id="registro">
    <%- include('header') %>
        <h2>REGISTRO LIDER</h2>
        <div class="grid-container">
            <!-- Registro de Participante Lider y Equipo -->
            <div class="">
                <form action="/registro" method="post">
                    <div>
                        <label for="fname">Nombre del Lider:</label>
                        <input type="text" id="fnombre" name="nombre"><br><br>
                        <label for="lname">Correo:</label>
                        <input type="email" id="lmail" name="email"><br><br>
                        <label for="lname">Contraseña:</label>
                        <input type="text" id="lclave" name="clave"><br><br>
                        <label for="lname">Nombre del Equipo:</label>
                        <input type="text" id="lnomEq" name="nomEq"><br><br>
                        <input id="bt-grabar" type="submit" value="Inscribirnos">
                    </div>
                </form>
            </div>
        </div>
</body>

</html>