<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/catalogo.css" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
    </head>

    <body class="container">
        <%- include('header') %>
           <div>Ya estás logeado.</div>
            <button class="btn btn-success mt-2" href="/">Regresar a la pagina principal</button>

    </body>
</html>