.grid-container{
    display: grid;
    grid-template-columns: 300px 280px auto;
    /*background-color: yellowgreen;*/
    justify-content:space-between;
    margin-top: 5%;
}

.grid-container div{
    /*background-color: aqua;
    border: 1px solid black;*/
    margin-bottom: 5px;
    padding-top: 8px;
    color: rgb(88, 88, 88);
}

#multimedia{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

#head h2{
    color: rgb(109, 69, 69);
    margin-top: 8%;
}

#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:500px;
}
#output_image
{
 margin-bottom: 5px;
 max-width:300px;
}


