
body{
    margin-top: 70px;
}
body{
  background-image: url("/images/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-top: 20%;
}
.contenido{
    margin-top: 7%;
}
img{
  
    width: 670px;
    height: 450px;
    left: 15%;
    bottom: 15%;
    border-radius: 8px;
    
}

