#iniciarSesion{
    background-image: url(/media/test2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.grid-container{
    display: grid;
    background-color: rgba(255, 68, 255, 0.918);
    padding: 3%;
    justify-content: center;
    width: 450px;
    border-radius: 3%;
    margin-left: 300px;
    margin-right: 300px;
}

h2{
    padding-bottom: 5%;
}
