#imagen_inversion1{
   
width: 90%; 
height: 200px;
}
#boton_iniciarinversion{
    background-color:#f4a55e;
    border-color: #f4a55e;

    color: white;
    border-radius: 7px;
    border: none;
    width: 15%;
    height: 4%;
    margin-left: 44%;
}
#proyecto{
    margin-left: 3%;
   margin-right: -3%;
}
#h_proyecto{
    margin-left: 3%;
    
}
#h1_proyecto{

    font-size: 20px;
}
#label_cuota{
    background-color:  #9b9b9b;
    border-radius: 7px;
    width: 20%;
    margin-left: 18%;
    height: 30px;
    text-align: center;
    color:#f4a55e;
    font-weight: bold;
}
#label_minimacouta{
  
    margin-left: 20%;
    
}

#input_monto{
    background-color:  #9b9b9b;
    border-radius: 7px;
    border-color: white;
    border-width: 0;
    display: flex;
    height: 30px;
    text-align: center;
    color:#f4a55e;
    
}
input:focus{
    outline: none;
}
#label_cuota_1{
    float:left;
    background-color:  #9b9b9b;
    border-radius: 7px;
    width: 20%;
    margin-left: 25%;
    margin-right: -10px;
    height: 30px;
    text-align: center;
    color:#f4a55e;
    font-weight: bold;margin-bottom: 1.9%;
}
#label_terminos{
    margin-left: 4%;
}
#div_proyecto{
    margin-left: 15%;
}
#label_metodo{
    margin-left: 4%
}
#imagen_inversion2{
    width: 150px;
    height: 80px; 
    border-radius: 5%;
}
body{
    margin-top: 70px;
}
body{
  background-image: url("/images/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-top: 20%;
}
.contenido{
    margin-top: 7%;
}
#imagen{
  
    width: 900px;
    height: 450px;
    border-radius: 3%;
    margin:auto
   
}
.divScroll {
    overflow:scroll;
    height:350px;
    margin-left: 5%;
   
}
.DivPrincipal{
    margin-left: 30%;
}
.paypal{
    margin-left: 20%;
}