#div_header{
    height: 15%;
    background-color: 	#ffeace;
    margin-top: 0px;
}
#jo{
    margin-bottom: 1%;
    color:#ffeace;
}

 #INNOVARUWAYKAMA{
    color:orange;
    margin-left: 10%;
   font-size: 25px;
   font-weight: 600;
}

#nosotros{
    color:orange;
   
    margin-left: 10%;
}
#contactos{
    margin: center;
    margin-left: 3%;
}
#help{
    margin-left: 3%;
}
#fotoperfil{
    margin-left: 30%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
margin-bottom: -1%;
}
#nombre{
    color: orange;
    margin-left: 1%;
    font-weight: 600;
}

#div_sign{
    background-color:white;
    padding: 30px;
    margin-top: 10%;
    margin-left: 35%;
    width: 400px;
    height: 350px;
    border-color: gray;
    border-radius: 10px;

}
#iniciarsesion{
    font-size: 40px;
    margin-left: 8%;
    color:#73400d;
    font-weight: 900;
    font-family: 'Mulish', sans-serif;
}
#boton{
    background-color:#f4a55e;
    border-color: #f4a55e;
}
#lemail{
    color:gray;
    margin-left: 18%;
}
#input_email{
    color:gray;
    border-radius: 5px;
    height: 4%;
    width: 65%;
    margin: auto;
}

#lcontrasena{
    color:gray;
    margin-left: 18%;
}
#input_contrasena{
    color:gray;
    border-radius: 5px;
    height: 4%;
    width: 65%;
    margin: auto;
}

#contraseñaOlvidada{

    margin-left: 18%;
}

#boton_iniciarsesion{
    margin-top: 5%;
   background-color: orange;
   color: white;
   border-radius: 7px;
   border: none;
   width: 30%;
   height: 4%;
   margin-left: 20%;
   margin-bottom: 10%;
}
#boton{
    background-color: #f4a55e;
    color: white;
    border-radius: 7px;
    border: none;
    width: 30%;
    height: 4%;
    margin:auto
}
p{
    margin-top: 4%;
    margin-left: 28%;
}
