#principal{
    background-image: url(/media/b3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.Division1,.Division2{
    background-color: red;
    width: 100%;
}

.grid-container{
    display: grid;
    height: 530px;
    grid-template-columns: 45% 45%;
    grid-template-rows: 100%;
    justify-content: space-evenly;
}

.grid-container div{
    background-color: rgba(0, 0, 0, 0.801);;
    text-align: center;
    color: rgba(255, 255, 255, 0.788);
    border-radius: 3%;
}

.tDest, .tRec{
    padding: 2%;
}

.IMGtorneos{
    padding: 3%;
    height: 90%;
    width: 90%;
}
