h2{
    padding-bottom: 2%;
    background-color: rgba(36, 124, 184, 0.877);
    color: white;
    padding: 5%;
}

#registro{
    background-image: url(/media/test2.jpg);
}

.grid-container{
    display: grid;
    background-color: rgba(0, 0, 0, 0.801);
    grid-template-columns: 60%;
    grid-template-rows: 100%;
}

.grid-container div{
    color: rgba(255, 255, 255, 0.788);
    padding: 2%;
    font-size: 20px;
    margin: 1%;
}