
#div_header{
    height: 15%;
    background-color: 	#ffeace;
    margin-top: 0px;
}
#jo{
    margin-bottom: 1%;
    color:#ffeace;
}

 #INNOVARUWAYKAMA{
    color:orange;
    margin-left: 10%;
   font-size: 25px;
   font-weight: 600;
 
}

#nosotros{
    color:orange;
   
    margin-left: 10%;
}
#contactos{
    margin: center;
    margin-left: 3%;
}
#help{
    margin-left: 3%;
}
#iniciarsesion{
    color:orange;
    margin-left: 15%;
}

#boton_registrarse_header{
    background-color: orange;
    color: white;
    margin-left: 2%;
    border: none;
    width: 7%;
    height:30%;
}

#registrarse{
    color:white;
}
#div_registrar{
    
    background-color:white;
    padding: 20px;
    border-width: 1px;
    margin-top: 100px;
    width: 500px;
    margin-left: 30%;
    border-color: gray;
    border-radius: 10px;
   
}

.container{
  justify-content: center;
  align-items: center;
}
#registrate{
    font-size: 40px;
    margin-left: 30%;
    color:#73400d;
    font-weight: 900;
    font-family: 'Mulish', sans-serif;
    
}
.centro{

    margin:auto;
}
#subtitulo{
    color:gray;
}
.dv1{
    
    margin-left: 10%;
}

#nombre{
    color:gray;
    height: 1%;
    width: 80%;
    margin:auto
    
}

#email{
    color:gray;
    height: 1%;
    width: 80%;
    margin:auto
    
}

#input_confirmar_email{
    color:gray;
    width: 80%;
    margin:auto
}

#contrasena{
    color:gray;
    height: 1%;
    width: 80%;
    margin:auto
}

#pregunta{
    color:gray;
    margin-top: 4%;
}
#inversor{
   margin-top: 1%;
    color:gray;
    margin-right: 20%;
}
#creador{

    color:gray;
}

#condiciones{
    color:gray;
}
#boton_registrarse{
   background-color: #f4a55e;
   color: white;
   border-radius: 7px;
   border: none;
   width: 30%;
   height: 4%;
   margin:auto
   
}



#mensaje{
    width: 100%;
    padding: 5px;
    color:rgb(168, 56, 5);
}
.divScroll {
            overflow:scroll;
            height:150px;
           
    }