#listatorneos{
  background-image: url(/media/b7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
main{
    color: white;
    display:flex;
    flex-direction:row;
  }
  .round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
  }
    .round .spacer{ flex-grow:1; }
    .round .spacer:first-child,
    .round .spacer:last-child{ flex-grow:.5; }
  
    .round .game-spacer{
      flex-grow:1;
    }
  
  /*
   *  General Styles
  */
  
  body{
    font-family:sans-serif;
    font-size:small;
    padding:10px;
    line-height:1.4em;
  }
  
  li.game{
    padding-left:20px;
  }
  
    li.game.winner{
      font-weight:bold;
    }
    li.game span{
      float:right;
      margin-right:5px;
    }
  
    li.game-top{ border-bottom:1px solid #aaa; }
  
    li.game-spacer{ 
      border-right:1px solid #aaa;
      min-height:70px;
    }
  
    li.game-bottom{ 
      border-top:1px solid #aaa;
    }
  h2{
      padding-bottom: 1%;
      color:white;    
  }  
  h1{
    padding-bottom: 1%;
    color:white;    
}   
h3{
  padding-bottom: 1%;
  color:white;    
}   
label{
  color: white;
}
    